<!doctype html>
<html lang="en" data-bs-theme="auto">

<%- include('partials/head') %>
<%- include('partials/inhead'); %>
  <body data-bs-theme="dark">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"></script>

      <script type="module" src="static/register-sw.js">
        </script>

  <script src="static/home.js"></script>
  <script>setTheme()</script>
  

    <!-- Modal for adding Naggers -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="addModalLabel">Add Nagger</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="addForm">
            <div class="modal-body">

              <div class="mb-3 form-floating">
                <input type="text" name="title" maxlength="15" id="titleTextBoxAdd" class="form-control"
                  placeholder="dd">
                <label for="titleTextBoxAdd" class="form-label">Title (max. 15 characters)</label>

              </div>

              <div class="mb-3 form-floating">
                <textarea maxlength="80" name="description" style="height: 8em;" id="descriptionTextAreaAdd"
                  class="form-control" placeholder="dd"></textarea>
                <label for="descriptionTextAreaAdd" class="form-label">Description (max. 90 characters)</label>

              </div>

              <div class="mb-3 form-floating">

                <select name="severity" class="form-select" id="severityDropdownAdd" aria-placeholder="dd"
                  placeholder="dd">
                  <option value=0>Every 10 minutes</option>
                  <option value=1>Every 20 minutes</option>
                  <option value=2>Every hour</option>
                  <option value=3>Every 2 hours</option>
                  <option value=4>Every 4 hours</option>
                  <option value=5>Every 7 hours</option>
                </select>
                <label for="severityDropdownAdd" class="form-label">Notification frequency</label>
              </div>

            </div>
            <div class="modal-footer">

              <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                onclick="addNewNagger()">Add</button>

            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Modal for editing Naggers -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="editModalLabel">Edit Nagger</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="editForm">
              <div class="mb-3 form-floating">
                <input type="text" maxlength="15" id="titleTextBoxEdit" class="form-control" placeholder="dd">
                <label for="titleTextBoxEdit" class="form-label">Title (max. 15 characters)</label>

              </div>

              <div class="mb-3 form-floating">
                <textarea maxlength="80" style="height: 8em;" id="descriptionTextAreaEdit" class="form-control"
                  placeholder="dd"></textarea>
                <label for="descriptionTextAreaEdit" class="form-label">Description (max. 90 characters)</label>

              </div>

              <div class="mb-3 form-floating">

                <select class="form-select" id="severityDropdownEdit" aria-placeholder="dd" placeholder="dd">
                  <option value="0">Every 10 minutes</option>
                  <option value="1">Every 20 minutes</option>
                  <option value="2">Every hour</option>
                  <option value="3">Every 2 hours</option>
                  <option value="4">Every 4 hours</option>
                  <option value="5">Every 7 hours</option>
                </select>
                <label for="severityDropdownEdit" class="form-label">Notification frequency</label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="deleteNagger()"
              id="deleteButton">Delete</button>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="saveButton"
              onclick="alterNagger()">Save changes</button>

          </div>
        </div>
      </div>
    </div>
    <!-- top header-->
    <%- include('partials/header') %>
      <!-- Main Container -->
      <div class="container-fluid" style="min-height: 40em;">

        <div class="row">

          <!-- Navbar/Navdrawer -->
          <%- include('partials/navdrawer') %>
            <!-- Main Content -->
            <main class="col-md-9 col-lg-10 px-2 px-md-4 py-2 py-md-4">
              <div class="container-fluid px-0 text-center">
                <% if(set!=true) { %>
                <div class="alert alert-warning align-items-start justify-content-start" id="setupAlert" role="alert">
                  <div>
                    <i class="bi bi-exclamation-triangle"></i> You need to <a href="setup">setup</a> the app before you can use its features.
                  </div>
                </div>
                <% } %>

                <div id="row" class="row g-2 row-cols-2 text-md-center row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">


                  <!-- Card -->
                  <% if(naggers!==false) { %>
                    <% for(let n of naggers) { %>
                      <div class="col d-flex align-items-stretch card-item-column" data-bs-toggle="modal"
                        data-bs-target="#editModal" data-bs-naggerId="<%= n.naggerId %>"
                        data-bs-naggerTitle="<%= n.title %>" data-bs-naggerDescription="<%= n.description %>"
                        data-bs-naggerDate="<%= n.naggerDate %>" data-bs-naggerId=<%=n.naggerId%> data-bs-severity="<%=
                          n.severity %>">

                          <div class="text-bg-success shadow card flex-grow-1">
                            <div class="card-content">
                              <div class="card-header">
                                <%= n.title %>
                              </div>
                              <div class="card-body px-2">
                                <%= n.description %>
                              </div>

                            </div>
                            <div class="card-footer mt-auto">
                              <%= n.naggerDate %>
                            </div>
                          </div>
                      </div>
                      <% }} %>


                        <!-- Plus Card -->
                        <div id="plus-card" data-bs-toggle="modal" data-bs-target="#addModal"
                          class="col d-flex align-items-stretch card-item-column">
                          <div
                            class="text-bg-white shadow card flex-grow-1 align-content-center justify-content-center">
                            <div class="card-content text-bg-white">

                              <i class="bi bi-plus align-self-center" style="font-size:4em"></i>

                            </div>
                          </div>
                        </div>
   
                </div>
              </div>
            </main>
        </div>
      </div>

      <!-- Footer -->
      <%- include('partials/footer') %>

  </body>

</html>